.navbar{
    background-color: black!important;
}
#home{
    background-color: black!important;
}
#modules{
    background-color: rgb(246, 223, 190)!important;
}
.custom-font{
    font-family: 'Poppins', sans-serif;
}
.custom-font1{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter!important;
}
.custom-position{
    height: 300%;
    width: 350%;
}

.footc{
    background-color: black!important;
}
.footer-links{
    text-decoration: none;
    margin-inline: 2%;
    font-size: x-large;
}
.img-custom{
    height: 4%;
    width: 4%;
}
#offerings{
    background: rgb(238,59,86);
    background: radial-gradient(circle, rgba(238,59,86,1) 0%, rgba(255,173,32,1) 0%, rgba(255,109,25,1) 95%);
}
.imgc{
    height: 75%;
    width: 85%;
}